[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = http://github.com/Shougo/unite.vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = http://github.com/Shougo/neocomplcache.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/quickrun"]
	path = bundle/quickrun
	url = http://github.com/thinca/vim-quickrun.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-submode"]
	path = bundle/vim-submode
	url = http://github.com/kana/vim-submode.git
[submodule "/Users/nbqx/.vim/bundle/unite-colorscheme"]
	path = /Users/nbqx/.vim/bundle/unite-colorscheme
	url = https://github.com/ujihisa/unite-colorscheme.git
[submodule "/Users/nbqx/.vim/bundle/unite-font"]
	path = /Users/nbqx/.vim/bundle/unite-font
	url = https://github.com/ujihisa/unite-font.git
